@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;

}
header{
    background-color: rgb(27, 69, 255);
    

}
#conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    
}
#conteiner i {
    font-size: 20px;
    color: white;
}
#conteiner h2 {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 35px;
}
#conteiner .carrinho{
    margin-right: 5px;
    font-size: 25px;

}
#conteiner .opcao{
    margin-left: 5px;
    font-size: 25px;

}
#pesquisa{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
#pesquisa input{
    margin-left: 25px;
    text-align: left;
    width: 90%;
    height: 45px;
}
.iconpesquisa{
    position: relative;
    margin-top: 15px;
    left: -40px;
    top: 1px;
    background-color: rgb(255, 255, 255);
    height: 33px;
    width: 35px;
    border: none;
    margin: auto;
    color: rgb(27, 69, 255);
    font-size: 19px;
}
.conteiner_slide .slide {
    display: none;
}
.slide img{
    height: 400px;
    width: 800px;
}
.info {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin: auto;
}
.info .preço{
    text-align: center;
    font-size: 40px;
}

.btnanerior, .btnproximo{
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
    transition: 0.9s;
    user-select: none;

}
.btnanerior{
    left: 0;
    border-radius: 0 5px 5px 0;
}
.btnproximo{
    right: 0;
    border-radius:5px 0 0 5px ;
}
.btnanerior:hover, .btnproximo:hover, .textslider:hover{
    background-color: rgba(0, 0, 0, 0.6);
    
}
.indicador{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px;
    background-color: rgb(163, 154, 154);
    border-radius: 50px;
    display: inline-block;
    transition: background-color 0.5s;

}
.ativo, .indicador:hover{
   background-color: rgb(0, 0, 0);
}